@import "../../Utils/Color.scss";

.wrapper-B {
  background-color: $mainPink;
  height: 460px;
}
.pic-bg-sdB {
  height: 440px;
  margin: 20px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 0;
}
.picture {
  background-image: url("https://d.ibtimes.co.uk/en/full/1540185/henry-cavill.jpg?w=736&f=f5985c8f09cb80d169660b65cdc2b43a");
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: auto;
  margin: 20px;
}
.pic-wrap-sidB {
  padding-top: 1px;
}

.button-goback:hover {
  border-color: rgba(255, 255, 255, 1);
}

.button-goback {
  background: linear-gradient(to bottom, #f25764 5%, #f25764 100%);
  background-color: #f25764;
  border-radius: 28px;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 200px;
}
.button-goback:hover {
  transform: scale(1.1);
}
.characteristic {
  list-style-type: none;
  line-height: 40px;
  margin: 30px 5px 40px;
}
