.questionPageBackground {
  background-color: #f25764;
  color: white;
  h2 {
    text-align: center;
  }
}
.centerQuestions {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}
.alignCenter {
  text-align: center;
}
