.heart-animation-container {
  padding-top: 10vh;
  text-align: center;
  h1 {
    padding-bottom: 30vh;
    margin: 5vh auto 0 auto;
    width: 50%;
    line-height: 2em;
  }
}

.heart-loading-container {
  padding: 10vh auto;
}
